@model Vidly.Models.Movie
@{
    ViewBag.Title = "MovieDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieDetail</h2>

<h3>@Model.Name</h3>
<h3>@Model.Genre.Description</h3>
<h3>@Model.ReleaseDate</h3>
<h3>@Model.DateTimeCreated</h3>
<h3>@Model.NumberInStock</h3>
